* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Inter', sans-serif, Arial, Georgia;
    background-color: #F5E6D3;
    padding: 1rem;
    color: black;
    line-height: 1.6;
}

header {
    display: flex;
    text-align: left;
    text-transform: uppercase;
    padding: 1.5rem 2rem;
    margin-bottom: 2rem;
    border: 2px solid #A0522D;
    background-color: #A0522D;
    color: white;
    gap: 1rem;
    align-items: center;
    box-shadow: 0 4px 15px rgba(160, 82, 45, 0.2);
}

header img {
    width: 120px;
    height: auto;
}

img {
        max-width: 100%; 
        height: auto; 
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    justify-content: center;
    padding: 1rem;
    margin: auto;
    z-index: 1;
}

.carta-producto {
    width: 100%;
    padding: 25px;
    border: 1px solid #cccccc;
    box-shadow: 5px 5px 10px #e0e0e0;
    background: #A0522D;
    margin: 40px auto;
    color: white;
}

.carta-producto img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.carta-producto p {
    color: white;
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.precio-producto {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    display: block;
}

@media (min-width: 768px) {
    .contenedor-productos {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
        padding: 1rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .contenedor-productos {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        padding: 1rem;
    }
}